html, body
{
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  color: #333333;
}

#header
{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 100%;
  background-color: #333333;
}

#header div.title
{
  padding-left: 50px;
  font-size: 40px;
  color: #ffffff;
}

#header div.subtitle
{
  padding-top: 4px;
  padding-left: 55px;
  font-size: 11px;
  color: #ededed;
  letter-spacing: 2px;
}
  
#container
{
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-left: 55px;
}

a         { color: #3997d1; text-decoration: none; }
a:link    { color: #3997d1; text-decoration: none; }
a:visited { color: #3997d1; text-decoration: none; }
a:hover   { color: #3997d1; text-decoration: underline; }
a:active  { color: #3997d1; text-decoration: none; }

h1
{
  font-size: 24px;
  line-height: 28px;
}

h2
{
  font-size: 14px;
  line-height: 0px;
  margin-bottom: 32px;
}

table.tabular
{
  width: 80%;
}

table.tabular tr th
{
  font-size: 12px;
  text-align: left;
  background-color: #eeeeee;
  height: 30px;
  padding-left: 8px;
}

table.tabular tr td
{
  font-size: 12px;
  padding-left: 8px;
  height: 30px;
}

table.tabular tr th.add
{
  font-size: 20px;
  padding-right: 8px;
  text-align: center;
  width: 20px;
}
